<div class="layout-footer">
    By
    <img
        src="assets/layout/logos/{{
            layoutService.config().colorScheme === 'light' ? 'dark' : 'light'
        }}.svg"
        alt="Logo"
        height="20"
        class="mr-2"
        style="padding-left: 5px"
    />
    with
    <a href="https://jorami.be"
        ><img
            src="assets/layout/logos/{{
                layoutService.config().colorScheme === 'light'
                    ? 'Jorami - noir complet'
                    : 'Jorami - blanc complet'
            }}.png"
            alt="Jorami Logo"
            height="25"
            class="ml-2"
    /></a>
</div>
